.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid #b1191a;
}

.logo {
    /* 不用margin-top 的原因是防止塌陷 */
    padding-top: 18px;
}

.registerarea {
    height: 522px;
    margin-top: 20px;
    border: 1px solid #dfdfdf;
}

.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 10px;
    background-color: #ececec;
    line-height: 42px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
}

.registerarea h3 .login {
    float: right;
    font-size: 14px;
    color: #333;
}

.registerarea h3 .login a {
    color: #c81623;
}

.reg_form {
    width: 600px;
    /* 上 左右 下 的外边距 */
    margin: 50px auto 0;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    /* 给个宽度，让文字右对齐 */
    text-align: right;
    font-size: 14px;
    color: #4c4c4c;
}

.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #999;
}

.error {
    color: #df3033;
}

.error_icon {
    display: inline-block;
    /* 让图片和文字居中对齐 */
    vertical-align: middle;
    height: 20px;
    width: 20px;
    background: url(../images/error.png) no-repeat;
    margin: -2px 3px 0 6px;
}

.safe {
    padding-left: 162px;
    color: #b2b2b2;
}

.safe em {
    padding: 0 12px;
    color: #fff;
}

.ruo {
    background-color: #de1111;
}

.zhong {
    background-color: #40b83f;
}

.qiang {
    background-color: #f79100;
}

.agree {
    padding: 20px 0 25px 85px;
}

.agree input {
    /* 中线对齐，对行内元素和行内块元素有效 */
    vertical-align: middle;
}

.agree a {
    color: #1ba1e6;
}

.btn {
    width: 200px;
    height: 34px;
    margin-left: 90px;
    background-color: #c81623;
    color: #fff;
    font-size: 14px;
}

.mod_copyright {
    text-align: center;
    margin-top: 20px;
}

.links {
    margin-bottom: 15px;
}

.links a {
    margin: 0 10px;
}

.copyright {
    line-height: 20px;
}